/* --- Resume Page Specifics --- */
.resume-wrapper {
    padding-top: 55px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pdf-container {
    flex-grow: 1;
    width: 100%;
    background: #525659;
}

.pdf-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}