/* --- Resume Page Specifics --- */
header{
  position: sticky; /* overwrite for resume positioning */
  top: 0;
}

.resume-wrapper {
    padding-top: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pdf-container {
    flex-grow: 1;
    width: 100%;
    background: #525659;
}

.pdf-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}